**/__pycache__
**/.pytest_cache

**/Dockerfile

**/config.yaml
**/config-prod.yaml
**/config-example.yaml

**/.env
**/.env.prod
**/.env.example

*.db

**/.venv
**/venv

**/.idea
**/.vscode
**/.fleet

**/*.log

**/.git
**/.gitignore

**/README.md
